.body{
  /* border:1px solid black */
  line-height: 30px;
  text-align:justify;
  text-indent: 50px;
  padding:26px;
  /* display:flex; */
  
}
.body p{
  
}

img{
  border:1px solid black;
  border-radius: 5px;
  margin:10px 30px 10px 10px;
  width:300px;
  height:250px;
  float:left
  

  
}